* {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #dad8d8;
  height: 60px;
  column-gap: 15px;
  padding: 0 20px;
}

.rigth-Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items img {
  filter: invert(1);

}

.home {
  background-color: #1f1f1f;
  border-radius: 50%;
  margin-left: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 40px;
}

.home:hover {
  background-color: #323232;
  cursor: pointer;
  padding: 5px;

}


.input-container {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 480px;
  margin-left: 5px;
  margin-right: 15px;
  background-color: #1f1f1f;
  border-radius: 30px;
}

.input-items {
  color: rgb(190 190 190);
}

.input-items1 {
  margin-left: 10px;
  margin-right: 10px;
}


.input-items1 img {
  filter: invert();
}

input {
  width: 370px;
  outline: none;
  border: none;
  background-color: #1f1f1f;
  margin-right: 8px;
  color: white;

}


.line {
  font-size: 25px;
  margin-right: 5px;
}

.input-items2 {
  margin-left: 5px;
  font-size: 20px;
}

.input-items2 img {
  filter: invert();
  margin-top: 2px;
}

.items p {
  font-weight: 600;
  font-size: 15px;
  font-family: sans-serif;
  color: #8f8f8f;
  margin-left: 50px;
}

.txt:hover {
  color: #c6c6c6;
  cursor: pointer;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.install-text svg {
  filter: invert();
  width: 30px;
  height: 15px;
  color: #8f8f8f;
}

.install-text {
  display: flex;
  font-family: sans-serif;
  width: 125px;
  align-items: center;
  color: #8f8f8f;
}

.install-text:hover {
  color: #c6c6c6;
  cursor: pointer;
}

.signup-text {
  color: #8f8f8f;
  font-weight: bold;
}

.signup-text:hover {
  color: #c6c6c6;
  cursor: pointer;
}

.login-button button {
  background-color: white;
  font-weight: bold;
  font-size: 15px;
  color: black;
  height: 48px;
  width: 90px;
  border-radius: 42%;
  border: none;
  margin-left: 20px;
}

.menu {
  display: none;
}

/* #121212 */

@media (max-width:980px) {
  .menu {
    display: block;
  }

  .rigth-Header {
    column-gap: 5px;
  }

  .left-header {
    column-gap: 2px;
  }

  .header {
    justify-content: space-between;
  }

  input,
  .line,
  .input-items2 {
    display: none;

  }

  .input-container {
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    padding: 1px;
  }


  .login-button button {
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    color: black;
    height: 40px;
    width: 70px;
    border-radius: 42%;
    border: none;
    margin-left: 20px;
    margin-right: 10px;
  }

}

@media (max-width:840px) {
  .items p {
    display: none;
  }
}

@media (max-width:530px) {

  .install-text,
  .login-button button,
  .signup-text {
    display: none;
  }

}